h1 {
  color:#ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 420;

}
h2 {
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 420;

}
h3 {
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 480;

}
body{
background-color: #a6a6a6;
border-style: outset;
border-width: 33px;
border-color: color:#ffffff;
}
#picture {
  height: 480px;
     width: 480px;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #c9d3e2;
    color: white;
}
input[type=radio] {
    width: -3%;
}
input[type=submit] {
  background-color:#aba4f2;
  color: white;
}
